@charset "UTF-8";
@font-face{
    font-family: 'Halant-Medium'; 
    src: url('fonte/Halant-Medium.ttf') format('truetype');
}
@font-face{    
    font-family: 'Montserrat-VariableFont_wght'; src: url('fonte/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face{
    font-family: 'ShadowsIntoLight-Regular';
    src: url('fonte/ShadowsIntoLight-Regular.ttf') format('truetype');
}

:root{
    --cor00: #81708C;
    --cor01: #84798C;
    --cor02: #9E92A6;
    --cor03: #D9C5D4;
    --cor04: #F2F2F2;

    --fonte01: 'Halant-Medium';
    --fonte02: 'Montserrat-VariableFont_wght';
    --fonte03: 'ShadowsIntoLight-Regular';
}

body{
    margin: auto;
    
    background-color: hwb(314 77% 15%);
    
       
}



header{
    background-color: #81708C;
    color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100vw;
    font-family: var(--fonte02);
    font-size: 2em;
    
}
header>h1,h2,nav{
    text-align: center;
}



header>h2{
    font-family: var(--fonte03);
    font-size: 2em;
}

nav{
    background-color: #81708C;
    padding-bottom: 30px;
    
    font-family: var(--fonte02);
    font-weight: BOLD;
    
   
    
    
    
}

nav a{
    color: var(--cor03);
    border: 2px solid var(--cor02);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    
}

a:hover{
    background-color: var(--cor01);
}



main>img{
    width: 100vw;
    
}

main > h1{
    padding: 10px;
    font-family: var(--fonte02);
    background-image: linear-gradient(to right, var(--cor00), var(--cor03));
    width: 20%;
}

span>img{
    border: 1px solid black;
    border-radius: 10px;
    margin: 1px;
    
}

